body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #FAF9F6;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #E8E2D0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  text-transform: uppercase;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #940A24;
  color: #E8E2D0;
  font-weight: semi-bold;
}

.sidebar a:hover:not(.active) {
  color: #E8E2D0;
  background-color: #CAC29F;
  color: black;
}

div.content {
  margin-left: 300px;
  padding: 0.5em 2.5em;
}

.codesnippet {
  font-family: "Consolas", sans-serif;
}
