/* CODESNIPPETS */
/* Container for code block and line numbers */
.codesnippet-wrapper {
  display: flex;
  background-color: #EBEBE6;
  border-left: 4px solid #940A24;
  border-radius: 4px;
  margin-bottom: 1em;
  overflow: hidden;
}

/* Styling for the code snippet */
.codesnippet {
  font-family: "Consolas", "Monaco", monospace;
  color: #333;
  background-color: #EBEBE6;
  white-space: pre;
  overflow-x: auto;
  margin: 0;
  flex: 1;
  
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 0.95em;
  line-height: 1.5em;
}

/* Styling for line numbers */
.line-numbers {
  background-color: #e8e2d0; /* Slightly different background for line numbers */
  color: #666;
  text-align: right;
  padding: 10px 10px;
  user-select: none; /* Prevent copying line numbers */
  border-right: 1px solid #ddd;  
  /* font-size: 0.95em; */
  line-height: 1.5em;
}

.line-numbers span {
  display: block;
  padding-right: 10px;
}

/* Prevent unwanted spaces when copying */
.codesnippet::before,
.codesnippet::after {
  content: "";
  display: none;
}

.highlight {
  font-family: "Consolas", "Monaco", monospace;
  color: #333;
  background-color: #EBEBE6;
}
