@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin: 0;
  }
  .child-links {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  button {
    text-size: 1.5em;
  }
}
