@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    text-align: center;
    float: none;
    padding: 16px 0px;
  }
  div.content {
    margin: 0;
  }
  .sidebar .child-links a {
      padding: 16px 0px;
  }
}

@media screen and (max-width: 425px) {
  button {
    font-size: 1em;
    padding: 12px 24px;
  }
}
