/* MODIFIED EXISTING HTML */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #FAF9F6;
}

footer {
  margin-top: 12px;
  padding: 12px 0px;
  text-align: center;
  color: black;
  border-top: solid 1px #333;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 6px 12px;
  background-color: #E8E2D0;
  text-transform: uppercase;
  border-radius: 4px;
}

p a {
  color: #940A24;
}

a button.active {
  background-color: #CAC29F;
}

a button:hover:not(.active) {
  background-color: #CAC29F;
}

p {
  text-align: justify;
  text-justify: inter-word;
}
