/* MODIFIED EXISTING HTML */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #FAF9F6;
}

footer {
  margin-top: 12px;
  padding: 12px 0px;
  text-align: center;
  color: black;
  border-top: solid 1px #333;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 6px 12px;
  background-color: #E8E2D0;
  text-transform: uppercase;
  border-radius: 4px;
}

p a {
  color: #940A24;
}

a button.active {
  background-color: #CAC29F;
}

a button:hover:not(.active) {
  background-color: #CAC29F;
}

p {
  text-align: justify;
  text-justify: inter-word;
}


/* SIDEBAR  */
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #E8E2D0;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  text-transform: uppercase;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid 1px #333;
}

.sidebar a.active {
  background-color: #940A24;
  color: #E8E2D0;
  font-weight: bold; /* changed to 'bold' for clarity */
}

.sidebar a:hover:not(.active) {
  background-color: #CAC29F;
  color: black;
}

div.content {
  margin-right: 40%;
  margin-left: 300px;
  padding: 0.5em 2.5em;
}

/* Collapse child links */
.child-links {
  display: none;
}

.child-links a {
  padding-left: 20px !important;
}
