<!-- _includes/header.html -->
<header>
  <nav>
    <div class="sidebar">
      <!-- New section -->
      <a href="/">Home</a>
  
        <!-- First collapsible section -->
        <a class="parent" href="javascript:void(0)" data-target="section1">Laravel 11</a>
        <div class="child-links" id="section1">
            <a href="/views/intro">Intro</a>
            <a href="/views/quick_start">Quick Start</a>
            <a href="/views/tools">Tools</a>
        </div>

        <!-- Second collapsible section -->
        <a class="parent" href="javascript:void(0)" data-target="section2">Another Section</a>
        <div class="child-links" id="section2">
            <a href="/views/example1">Example 1</a>
            <a href="/views/example2">Example 2</a>
            <a href="/views/example3">Example 3</a>
        </div>

        <!-- Additional collapsible sections can be added here -->
        <a class="parent" href="javascript:void(0)" data-target="section3">Third Section</a>
        <div class="child-links" id="section3">
            <a href="/views/sample1">Sample 1</a>
            <a href="/views/sample2">Sample 2</a>
            <a href="/views/sample3">Sample 3</a>
        </div>

      </div>
  </nav>
</header>
