<!-- _includes/header.html -->
<header>
  <!-- Hamburger Menu Icon -->
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

  <nav>
    <div class="sidebar">
      <!-- New section -->
      <a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
  
      <!-- Laravel -->
      <a class="parent" href="javascript:void(0)" data-target="section1">Laravel 11</a>
      <div class="child-links" id="section1">
        <a href="/views/laravel/" class="{% if page.url == '/views/laravel/' %}active{% endif %}">Intro</a>
        <a href="/views/laravel/setup" class="{% if page.url == '/views/laravel/setup/' %}active{% endif %}">1. Setup</a>
        <a href="/views/laravel/components" class="{% if page.url == '/views/laravel/components/' %}active{% endif %}">2. Components</a>
        <a href="/views/laravel/migrations" class="{% if page.url == '/views/laravel/migrations/' %}active{% endif %}">3. Migrations</a>
        <a href="/views/laravel/seeders" class="{% if page.url == '/views/laravel/seeders/' %}active{% endif %}">4. Seeders</a>
        <a href="/views/laravel/cheat" class="{% if page.url == '/views/laravel/cheat/' %}active{% endif %}">Cheatsheet</a>
      </div>

      <!-- You can uncomment these sections when needed -->
      <!-- Godot -->
      <!--
      <a class="parent" href="javascript:void(0)" data-target="section2">Godot 4</a>
      <div class="child-links" id="section2">
        <a href="/views/godot/">Intro</a>
        <a href="/views/godot/quick_start">Quick Start</a>
        <a href="/views/godot/tools">Tools</a>
      </div>
      -->

      <!-- GitHub -->
      <!--
      <a class="parent" href="javascript:void(0)" data-target="section3">GitHub 2024</a>
      <div class="child-links" id="section3">
        <a href="/views/github/">Intro</a>
        <a href="/views/github/quick_start">Quick Start</a>
        <a href="/views/github/tools">Tools</a>
      </div>
      -->

      <!-- Hacking -->
      <!--
      <a class="parent" href="javascript:void(0)" data-target="section3">Hacking 2024</a>
      <div class="child-links" id="section3">
        <a href="/views/github/">Intro</a>
        <a href="/views/github/quick_start">Quick Start</a>
        <a href="/views/github/tools">Tools</a>
      </div>
      -->
    </div>
  </nav>
</header>
