<!-- _includes/header.html -->
<header>
  <nav>
    <div class="sidebar">
      <!-- New section -->
      <a href="/">Home</a>
  
        <!-- Laravel -->
        <a class="parent" href="javascript:void(0)" data-target="section1">Laravel 11</a>
        <div class="child-links" id="section1">
          <a href="/views/intro">Intro</a>
          <a href="/views/quick_start">Quick Start</a>
          <a href="/views/tools">Tools</a>
        </div>

        <!-- Godot -->
        <a class="parent" href="javascript:void(0)" data-target="section2">Another Section</a>
        <div class="child-links" id="section2">
          <a href="/views/intro">Intro</a>
          <a href="/views/quick_start">Quick Start</a>
          <a href="/views/tools">Tools</a>
        </div>

        <!-- GitHub -->
        <a class="parent" href="javascript:void(0)" data-target="section3">Third Section</a>
        <div class="child-links" id="section3">
          <a href="/views/intro">Intro</a>
          <a href="/views/quick_start">Quick Start</a>
          <a href="/views/tools">Tools</a>
        </div>

        <!-- Hacking -->
        <a class="parent" href="javascript:void(0)" data-target="section3">Third Section</a>
        <div class="child-links" id="section3">
          <a href="/views/intro">Intro</a>
          <a href="/views/quick_start">Quick Start</a>
          <a href="/views/tools">Tools</a>
        </div>

      </div>
  </nav>
</header>
