<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="/assets/favicon.ico" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include header.html %}
  
  <div class="content">
  <main>
    {{ content }}
  </main>
  
  {% include footer.html %}
  </div>
</body>

<script src="/js/app.js"></script>

</html>
